DATABASE_URL="postgresql://postgres:postgres@localhost:5432/flower_delivery?schema=public"
TELEGRAM_BOT_TOKEN="your_bot_token"
TELEGRAM_CHAT_ID="your_chat_id"
TELEGRAM_CHAT_IDS=1896035841,5092431773
TELEGRAM_BOT_TOKEN=8949805524:AAHA2rFbYIGw3m8Rg4PHb_55sF6uHdlu-uQ