.page {
  padding: 12px; /* чуть комфортнее для мобилок */
  width: 100%;
}

.seoTitle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.citySeoText {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 20px;
}

/* планшеты и выше */
@media (min-width: 768px) {
  .main {
    padding: 16px;
  }
}

/* десктоп */
@media (min-width: 1024px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  }
}